<div style="max-width: 70%">
    <h1 class="animated fadeIn fast">About us ...</h1>
    <p class="animated fadeIn ">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos inventore voluptates repellendus quidem qui officia alias ab dolores laboriosam, accusantium eligendi voluptatum quis est sint corrupti deserunt, ipsum molestias. Deleniti!
    </p>
    <p class="animated fadeIn ">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos inventore voluptates repellendus quidem qui officia alias ab dolores laboriosam, accusantium eligendi voluptatum quis est sint corrupti deserunt, ipsum molestias. Deleniti!
    </p>
</div>