<!-- <div class="container m-5 center-block">
    <div class="row ">
        <div class="col ">
            <form class="form-inline">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input (keyup)="buscar(busc.value)" class="form-control form-control-sm ml-3 w-75" type="text"
                    placeholder="Search" aria-label="Search" #busc>
            </form>
        </div>


    </div>




    <div class="row m-5">

        <div class="container py-3">
            <div class="card">
                <div class="row ">
                    <div class="col-md-4">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100">
                    </div>
                    <div class="col-md-8 px-3">
                        <div class="card-block px-3">
                            <h4 class="card-title">{{peliculas.Title}}</h4>
                            <h5 class="card-title">Temporadas: {{peliculas.totalSeasons}}</h5>
                            <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-3 ">
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ">
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ">
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ">
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ">
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ">
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 ">
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div> -->

<div class="container">
    <div class="row m-5">
        <div class=".col-xs-6 col-md-12">
            <form class="form-inline">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input (keyup)="buscar(busc.value)" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" #busc>
            </form>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let pelis of peliculas" class="col-md-3 mb-4 ">
            <div class="card-group">
                <div class="card puntero">
                    <img (click)="navegar(pelis.imdbID)" class="card-img-top" src="{{pelis.Poster}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{pelis.Title}} {{pelis.Year}}</h5>
                        <p class="card-text">{{pelis.Type}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>